{:paths ["src"]
 :deps
 {cider/cider-nrepl     {:mvn/version "0.25.5"}
  djblue/portal         {:mvn/version "0.6.4"}
  nrepl/nrepl           {:mvn/version "0.8.3"}
  ns-tracker/ns-tracker {:mvn/version "0.4.0"}}}
